.input-number:hover::-webkit-inner-spin-button,
.input-number:hover::-webkit-outer-spin-button,
.input-number:focus::-webkit-inner-spin-button,
.input-number:focus::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-number::-webkit-inner-spin-button,
.input-number::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-number {
  -moz-appearance: none;
}
